
## Ejercicio 1
Crea una variable llamada `nombre` con tu nombre y otra llamada `edad` con tu edad (como número entero). Imprime por pantalla un mensaje que diga "Hola, me llamo [nombre] y tengo [edad] años." usando estas variables.

In [1]:
nombre, edad = 'Pablo', 23
print(f'Hola, me llamo {nombre} y tengo {edad} años.')

Hola, me llamo Pablo y tengo 23 años.



## Ejercicio 2
Pide al usuario que introduzca dos números enteros por teclado. Guarda estos números en variables, súmalos y muestra el resultado por pantalla con el mensaje "La suma es: [resultado]".

> **TIP:** La función `input()` devuelve texto (string). Necesitarás convertirlo a entero usando `int()`.

In [12]:
numero1, numero2 = None, None
while (type(numero1) is not int) or (type(numero2) is not int):
    try:
        numero1 = int(input('Dime un número entero'))
        numero2 = int(input('Dime otro número entero'))
    except:
        continue
    

print(f'La suma es {numero1 + numero2}')

La suma es 30


## Ejercicio 3
Dada la variable `temperatura = 25.5`, escribe código que imprima "Hace calor" si la temperatura es mayor o igual a 25, y "No hace calor" si es menor.

> ```python
> temperatura = 25.5
> ```

In [16]:
temperatura = 25.5

if temperatura >= 25:
    print('Hace calor')
else:
    print('No hace calor')

Hace calor


## Ejercicio 4
Dada la cadena `frase = "python es divertido"`, utiliza métodos de string para:
1. Imprimir la frase completa en mayúsculas.
2. Imprimir la frase con la primera letra de cada palabra en mayúscula.
3. Encontrar la posición (índice) de la palabra "divertido".

> ```python
> frase = "python es divertido"
> ```

In [21]:
frase = 'python es divertido'

print(frase.upper())
print(frase.title())
print(frase.find('divertido'))

PYTHON ES DIVERTIDO
Python Es Divertido
10


## Ejercicio 5 (Similar al ejemplo)
Dada la siguiente lista, crea una nueva lista que contenga solo los números pares de la lista original.
> ```python
> numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
> ```
> **TIP:** Usa el operador módulo (`%`) para comprobar si un número es par. Itera sobre la lista original y añade los pares a una nueva lista.

In [23]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
num_pares = []

for number in numeros:
    if (number % 2) == 0:
        num_pares.append(number)

print(num_pares)

[2, 4, 6, 8, 10]


## Ejercicio 6
Tienes la siguiente lista de asignaturas. Añade "Física" al final de la lista e inserta "Química" en la segunda posición (índice 1). Imprime la lista resultante.
> ```python
> asignaturas = ["Matemáticas", "Historia", "Lengua"]
> ```

In [26]:
asignaturas = ['Matemñaticas', 'Historia', 'Lengua']
asignaturas.append('Física')
asignaturas.insert(1, 'Química')
print(asignaturas)

['Matemñaticas', 'Química', 'Historia', 'Lengua', 'Física']


## Ejercicio 7
Escribe un programa que pida al usuario su nota (un número del 0 al 10) e imprima:
- "Suspenso" si la nota es menor que 5.
- "Aprobado" si la nota es 5 o mayor, pero menor que 7.
- "Notable" si la nota es 7 o mayor, pero menor que 9.
- "Sobresaliente" si la nota es 9 o 10.
Maneja el caso de que introduzca un número fuera del rango 0-10 con un mensaje de error.

> **TIP:** Usa `if`, `elif` y `else`. No olvides convertir la entrada a número (`float` o `int`).

In [ ]:
nota = None

while ((type(nota) != float) and (type(nota) != int)) or (nota < 0) or (nota > 10):
        nota = input('Dime la nota')
        try:
                nota = float(nota)
        except: 
                continue

# En el caso de que el anterior bucle no estuviera, deberíamos tener en cuenta los posibles casos en el
# que el input no fuera un número en el rango 0-10
    
if nota < 5:
        print('Suspenso')
elif nota < 7:
        print('Aprobado')
elif nota < 9:
        print('Notable')
else:
        print('Sobresaliente')

Sobresaliente


## Ejercicio 8
Usando un bucle `for`, imprime cada uno de los días de la semana contenidos en la siguiente tupla.
> ```python
> dias_semana = ("Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo")
> ```

In [32]:
dias_semana = ("Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo")

for dia in dias_semana:
    print(dia)

Lunes
Martes
Miércoles
Jueves
Viernes
Sábado
Domingo


## Ejercicio 9
Calcula la suma de todos los números en la siguiente lista usando un bucle `for`.
> ```python
> valores = [10, 20, 30, 40, 50]
> ```
> **TIP:** Inicializa una variable `suma` a 0 antes del bucle.

In [33]:
suma = 0
valores = [10, 20, 30, 40, 50]

for numero in valores:
    suma += numero

print(suma)

150


## Ejercicio 10
Crea un diccionario que represente un coche, con las claves "marca", "modelo" y "año". Asígnale valores de ejemplo (ej: "Toyota", "Corolla", 2021). Luego, imprime el valor asociado a la clave "modelo".

In [34]:
coche = {'marca': 'Toyota',
         'modelo': 'Corolla',
         'año': 2021}

print(coche['modelo'])

Corolla


## Ejercicio 11
Dado el siguiente diccionario, añade una nueva clave "ciudad" con el valor "Madrid". Después, itera sobre el diccionario e imprime cada par clave-valor en el formato "Clave: [clave], Valor: [valor]".
> ```python
> persona = {"nombre": "Ana", "edad": 28}
> ```
> **TIP:** Puedes usar el método `.items()` para iterar sobre claves y valores simultáneamente.

In [36]:
persona = {"nombre": "Ana", "edad": 28}
persona['ciudad'] = 'Madrid'

for clave, valor in persona.items():
    print(f'Clave: {clave}, valor: {valor}')

Clave: nombre, valor: Ana
Clave: edad, valor: 28
Clave: ciudad, valor: Madrid


## Ejercicio 12
Crea una tupla con los números del 1 al 5. Intenta cambiar el segundo elemento (índice 1) a 10. Observa y explica (en un comentario en tu código) qué sucede. Luego, imprime la tupla original.

> **TIP:** Las tuplas son inmutables.

In [ ]:
tupla = (1, 2, 3, 4, 5)
tupla[1] = 10

TypeError: 'tuple' object does not support item assignment

In [40]:
# Como se trata de una tupla, se trata de un objeto inmutable, no podemos cambiar sus elementos, para ello, deberíamos ayudarnos de
# variables auxiliares o convertirlo en lista, cambiarlo y retornarlo a tupla

tupla = list(tupla)
tupla[1] = 10
tupla = tuple(tupla)
print(tupla)

(1, 10, 3, 4, 5)


## Ejercicio 13
Crea un set (conjunto) a partir de la siguiente lista para eliminar los elementos duplicados. Imprime el set resultante.
> ```python
> lista_con_duplicados = [1, 2, 2, 3, 4, 4, 4, 5, 1]
> ```

In [42]:
lista_con_duplicados = [1, 2, 2, 3, 4, 4, 4, 5, 1]
mi_set = set(lista_con_duplicados)
print(mi_set)

{1, 2, 3, 4, 5}


## Ejercicio 14
Escribe un bucle `while` que imprima los números del 1 al 5 (ambos incluidos).

> **TIP:** Necesitarás un contador que se incremente en cada iteración y una condición de parada.

In [45]:
numero = 1

while numero < 6:
    print(numero)
    numero += 1

1
2
3
4
5


## Ejercicio 15
Dada la lista `ejer_15 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]`, crea una *nueva lista* que contenga todos los elementos de `ejer_15` excepto los que sean iguales a 3.

> ```python
> ejer_15 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
> ```
> **TIP:** Es más seguro iterar sobre la lista original y añadir los elementos deseados a una nueva lista, en lugar de eliminar sobre la que iteras.

In [52]:
ejer_15 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

# Opcion 1
n_veces = ejer_15.count(3)

for i in range(n_veces):
    ejer_15.remove(3)

print(ejer_15)

# Opcion 2
mi_lista = []

for i in range(len(ejer_15)):
    if ejer_15[i] != 3:
        mi_lista.append(ejer_15[i])

print(ejer_15)

[20, 47, 19, 29, 45, 67, 78, 90]
[20, 47, 19, 29, 45, 67, 78, 90]


## Ejercicio 16
Usando una list comprehension, crea una lista que contenga los cuadrados de los números del 1 al 10.

> **TIP:** La sintaxis es `[expresion for elemento in iterable]`. `range(1, 11)` te dará los números del 1 al 10.

In [60]:
lista = []
for i in range(1, 11):
    lista.append(i)
print(lista)

lista_cuadrados = [numero**2 for numero in lista]
print(lista_cuadrados)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]


## Ejercicio 17
Escribe un programa que pida al usuario un número. Intenta convertir la entrada a entero usando `int()`. Si el usuario introduce algo que no es un número entero (por ejemplo, texto), el programa debe capturar el error (`ValueError`) e imprimir "Entrada inválida. Por favor, introduce un número entero." en lugar de fallar. Usa `try`/`except`.

In [62]:
try:
    numero = int(input('Introduce un número entero:'))
except ValueError:
    print('Entrada inválida. Por favor, introduce un número entero')

Entrada inválida. Por favor, introduce un número entero


## Ejercicio 18
Itera sobre la siguiente lista de números. Si encuentras el número 0, detén el bucle inmediatamente e imprime "Se encontró el cero". Si terminas de recorrer la lista sin encontrar el 0, imprime "No se encontró el cero".
> ```python
> numeros_buscar = [12, 5, -3, 8, 0, 15, 4]
> ```
> **TIP:** Usa un bucle `for` con `break` y la cláusula `else` del `for`.

In [69]:
numeros_buscar = [12, 5, -3, 8, 0, 15, 4]

for numero in numeros_buscar:
    if numero == 0:
        print('Se encontró el 0')
        break
else:
    print('No se encontró el 0')

# Quitamos el 0
numeros_buscar = [12, 5, -3, 8, 15, 4]

for numero in numeros_buscar:
    if numero == 0:
        print('Se encontró el 0')
        break
else:
    print('No se encontró el 0')

Se encontró el 0
No se encontró el 0


## Ejercicio 19
Itera sobre la lista `procesar = [1, -2, 3, -4, 5, -6]`. Imprime solo los números positivos. Si encuentras un número negativo, debes saltar a la siguiente iteración sin imprimirlo.
> ```python
> procesar = [1, -2, 3, -4, 5, -6]
> ```
> **TIP:** Usa un `if` dentro del bucle y la palabra clave `continue`.

In [72]:
procesar = [1, -2, 3, -4, 5, -6]

for numero in procesar:
    if numero >= 0:
        print(numero)

# Lo de arriba funciona aunque no tengo muy claro si quizás querías que hiciésemos:
procesar = [1, -2, 3, -4, 5, -6]

for numero in procesar:
    if numero >= 0:
        print(numero)
    else:
        continue

1
3
5
1
3
5


## Ejercicio 20
Tienes una lista de diccionarios representando estudiantes. Itera sobre la lista e imprime el nombre de los estudiantes que hayan aprobado (nota >= 5).
> ```python
> estudiantes = [
>     {"nombre": "Carlos", "nota": 7},
>     {"nombre": "Laura", "nota": 4},
>     {"nombre": "Pedro", "nota": 9},
>     {"nombre": "Sofia", "nota": 5}
> ]
> ```
> **TIP:** Dentro del bucle `for`, accederás a cada diccionario. Usa la clave "nota" para comprobar la condición y la clave "nombre" para imprimir.

In [ ]:
estudiantes = [ 
    {"nombre": "Carlos", "nota": 7}, 
    {"nombre": "Laura", "nota": 4}, 
    {"nombre": "Pedro", "nota": 9},
    {"nombre": "Sofia", "nota": 5}]

for diccionario in estudiantes:
    if diccionario['nota'] >= 5:
        print(f'El/la estudiante {diccionario["nombre"]} ha aprobado') # Importante usar distinto tipo de comillas o da error

El/la estudiante Carlos ha aprobado
El/la estudiante Pedro ha aprobado
El/la estudiante Sofia ha aprobado